h1, h2, h3 {
    font-weight: 700;
}

.r-grey {
    color: rgba(0, 0, 0, .4);
}

body {
    background: #F0F0F0;
    overflow-x: auto;
}

#r-grid {
    width: 68rem;
    margin: 1.5rem auto;
}

@media print {
    body {
        background: white;
    }

    .r-section {
        break-inside: avoid;
    }

    #r-grid {
        width: 100%;
        margin: 0;
    }

    #email {
        word-break: break-all;
    }
}

#r-sidebar {
    color: white;
    padding: 1.5em 1.5em 30em;
}

#r-main {
    background: white;
    padding: 0 0 2em;
}

.r-side-back {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

.r-side-back.r-color {
    background: #00658d;
}

.r-side-back.r-image {
    background: url("../images/circles_2.0-ca98f1da6796.svg") center bottom -22rem / 300% no-repeat
}

#r-avatar {
    padding: .25em;
    background: white;
    border-radius: .4em
}

.r-side-table .cell:first-child {
    font-size: .8em
}

.r-side-table .cell:not(:first-child) {
    font-weight: bold;
}

.icon.r-social {
    padding: .2em 0 !important;
    margin-bottom: .3em;
    width: 1.4em;
    height: 1.4em;
    border-radius: 100em;
    background: white;
    color: #00658d;
    font-size: 1.5em
}


#r-name {
    display: flex;
    align-items: center;
    margin: 3em 4em 3em 0
}

#r-name > div:first-child {
    flex: 1;
}

#r-name h1 {
    font-size: 3em;
    line-height: 1;
}

#r-name h2 {
    margin: 0;
    color: #00658d
}

.r-header {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.r-header h1 {
    padding-bottom: .2em;
    display: inline-block;
    border-bottom: 2px solid #ccc;
    margin: 0;
}

.r-section {
    margin: 1.4em 2rem 0 0;
    padding-top: 1.4em;
}

.r-items {
    padding-left: 2rem;
}

.ui.unstackable.items.r-items > .item > .image, .ui.unstackable.items.r-items > .item > .image > img {
    width: 4.6rem !important;
}

.r-items .item .image img {
    max-height: 4.6rem;
}

.r-items.r-timeline .item:not(:last-child) .image {
    min-height: 6.1rem;
}

.r-items.r-timeline .item:not(:last-child) .image::after {
    content: '';
    display: block;
    position: absolute;
    top: 5.4rem;
    bottom: -1em;
    right: 50%;
    width: 2px;
    background: #ccc
}

.ui.items.r-items > .item .meta > a:not(.ui):not(:hover) {
    color: inherit;
}

.r-items .content h2 {
    font-size: 1.3rem;
}

.r-items .content h2 a {
    color: inherit
}

.r-grade {
    width: 2.6em;
    height: 2.6em;
    background: #eee;
    border-radius: .4em;
    font-size: 2em;
    margin-left: .3em
}

.do-reveal {
    color: inherit !important;
    cursor: pointer;
}

.copy-to-clipboard {
    cursor: pointer;
}
